
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  scroll-behavior: smooth;
  list-style: none;
 /* max-width: 480px*/
}

.wrapper{
  
  display: flex;
  justify-content: center;
  align-items: center;

}

img {
  display: block;
}

a {
  text-decoration: none;
}