

@import "./src/variables.scss";

.detail-page{
  width: 411px;
  margin: 0 auto;
  padding: 24px;
  background-color: $color-dark-purple;
  color: $color-light;
  font-family: $font-body;
  padding-bottom:8em ;

  .image-container{
  position: relative;
  max-width: 411px;
  height: 489px;

  .activity-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

  .tilmeld-button{
   
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: 54px;
   background-color: $color-pink;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  }
  

  

  .detail-button{
    margin-top: 24px;
  padding: 12px 24px;
  background-color: $color-pink;
  color: $color-black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: $font-size-sm;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  }
}