

$font-body: 'Ubuntu', sans-serif;
$font-logo-primary: 'Roboto', sans-serif;

$font-size-sm: 18px;
 $font-size-md: 24px;
  $font-size-lg: 36px;


$color-light: #EAEAEA;
 $color-dark-purple: #5E2E53;
$color-pink: #E1A1E9;
 $color-black: #000000;