
@import "./src/variables.scss";

.page{
  width: 411px;
  height: 823px;
  margin: 0 auto;
  background-color: $color-dark-purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  overflow-y: auto;
  padding-bottom: 80px;

  .page-heading{
    font-size: $font-size-lg;
  font-family: $font-body;
  color: $color-light;
  align-self: flex-start;
  padding-left: 20px;
  margin-bottom: 24px;
  }

  .page-searchbar{
    padding-bottom: 2em;
  }

  


}